<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ SiteName }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/main.css">

</head>
<body class="no-js ">
{% include "../templates/partials/header.html" %}
<main class="main" role="main">
    {% block content %}{% endblock %}
</main>
{% include "../templates/partials/footer.html" %}
<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/jquery.validate.js"></script>
<script src="js/vendor/tether.js"></script>
<script src="js/vendor/bootstrap.js"></script>
<script src="js/vendor/mobile-detect.js"></script>
<script src="js/vendor/picturefill.js"></script>
<script src="js/main.js"></script>

</body>
</html>
